.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}
thead {
    background-color: rgb(166, 164, 164);
    color: white;
    text-align: left;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:hover {
    background-color: #ddd;
}
td:last-child {
    font-weight: bold;
}

.button-group{
   display: flex;
   gap: 10px
}

.button{
    cursor: pointer;
    padding: 8px 10px;
    border: 1px solid rgb(165, 163,163);
    border-radius: 10px;

}

.button:hover{
    border: 1px solid #1d1c1c;
    background-color: #f2f2f2;
}

.color-picker {
    top: 40px;
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap:8px;
    padding:10px;
    overflow-y: scroll;
    /* z-index: 2; */
    position: absolute;
}

.color-tile{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}